<a href="https://colab.research.google.com/github/eraqcode/appHeroes/blob/master/5_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sets**

A set is a collection which is both unordered and unindexed.

We can use set for store some items in only variable

- ## Create Set

In [8]:
even_numbers = { 2, 4, 6, 7, 19 }

- ## Access to Set

In [9]:
for x in even_numbers:

  print(x)

2
4
6
7
19

- ## Add Items

In [10]:
even_numbers.add(14)

even_numbers.update({16, 18})

for x in even_numbers:

  print(x)

2
4
6
7
14
16
18
19

In [6]:
fruits_name_set = {'apple', 'pear', 'pineapple', 'banana', 'orange'}

- ## Remove Set Items

In [7]:
fruits_name_set.remove('pear')

fruits_name_set.discard('banana')

for fruits in fruits_name_set:

  print(fruits)

pineapple
apple
orange

- ## Set Operations

- Union

- Intesection

- Symetric Difference

In [12]:
odd_numbers = {3, 5, 7, 9, 11}

numbers = even_numbers.union( odd_numbers )

for number in numbers:

  print( number )

2
3
4
5
6
7
9
11
14
16
18
19

In [13]:
intersection_numbers = numbers.intersection( odd_numbers )

for number in intersection_numbers:

  print( number )

3
5
7
9
11

In [22]:
symetric_numbers = numbers.symmetric_difference( odd_numbers )

for y in symetric_numbers:

  print( y )

7